<div class="article-details">
    {{ if .Params.categories }}
    <header class="article-category">
        {{ range (.GetTerms "categories") }}
            <a href="{{ .RelPermalink }}" {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
                {{ .LinkTitle }}
            </a>
        {{ end }}
    </header>
    {{ end }}

    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="{{ .RelPermalink }}">
                {{- .Title -}}
            </a>
        </h2>
    
        {{ with .Params.description }}
        <h3 class="article-subtitle">
            {{ . }}
        </h3>
        {{ end }}
    </div>

    {{ $showReadingTime := .Params.readingTime | default (.Site.Params.article.readingTime) }}
    {{ $showDate := not .Date.IsZero }}
    {{ $showFooter := or $showDate $showReadingTime }}
    {{ if $showFooter }}
    <footer class="article-time">
        {{ if $showDate }}
            <div>
                {{ partial "helper/icon" "date" }}
                <time class="article-time--published">
                    {{ if eq .Date.Year time.Now.Year }}
                        {{- .Date.Format (or .Site.Params.dateFormat.publishedShort "01-02") -}}
                    {{ else }}
                        {{- .Date.Format (or .Site.Params.dateFormat.published "2006-01-02") -}}
                    {{ end }}
                </time>
            </div>
        {{ end }}

        {{ if ne .Lastmod .Date }}
            <div>
                {{ partial "helper/icon" "pen" }}
                <time class="article-lastmod">
                    {{ if eq .Lastmod.Year time.Now.Year }}
                        {{ if eq .Lastmod.Month time.Now.Month }}
                            {{- .Lastmod.Format ( or .Site.Params.dateFormat.lastUpdatedTime "01-02 15:04" ) -}}
                        {{ else }}
                            {{- .Lastmod.Format ( or .Site.Params.dateFormat.lastUpdatedShort "01-02" ) -}}
                        {{ end }}
                    {{ else }}
                        {{- .Lastmod.Format ( or .Site.Params.dateFormat.lastUpdated "2006-01-02" ) -}}
                    {{ end }}
                </time>
            </div>
        {{ end }}

        {{ if $showReadingTime }}
            <div>
                {{ partial "helper/icon" "clock" }}
                <time class="article-time--reading">
                    {{ T "article.readingTime" .ReadingTime }}
                </time>
            </div>
        {{ end }}
    </footer>
    {{ end }}

    {{ if .IsTranslated }}
        <footer class="article-translations">
            {{ partial "helper/icon" "language" }}
            <div>
                {{ range .Translations }}
                    <a href="{{ .Permalink }}" class="link">{{ .Language.LanguageName }}</a>
                {{ end }}
            </div>
        </footer>
    {{ end }}
</div>
